/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/

body {
  background-color: #b2bec3;
  font-family: "Nunito", sans-serif;
}

/*cela karta*/
.karta {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 550px;
  margin: 150px auto 0 auto;
  position: relative;
}

/*nadpis + foto*/
h1 {
  color: #d63031;
  margin: 0;
}

.foto {
  width: 150px;
  border-radius: 50%;
  border: 3px solid white;
  position: absolute;
  bottom: 80%;
  left: 85%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/*odstavec*/
.odstavec {
  font-size: 18px;
  margin-bottom: 30px;
}

/*tlačítka*/
.twitter,
.fb {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border-radius: 5px;
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.twitter {
  background-color: #1da1f2;
  margin-bottom: 5px;
}
.twitter:hover {
  background-color: #0b7bc1;
}
.fb {
  background-color: #3b5998;
}
.fb:hover {
  background-color: #2b406e;
}
